#creacromo{

    width: 95%;
    margin-top: 5%;
    margin: 2%;
}
    .agrupa {
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        width: 93%;
        gap: 5%;
    }

    .linkregistro{
        margin-bottom: 17%;
    }
